body {
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  letter-spacing: .05px;
  max-width: 50em;
  margin: 1em auto;
  padding: 0 .6em;
  color: #222222;
  line-height: 1.4;
}

h1 {
  font-size: 1.8em;
  font-weight: 600;
}

h2 {
  font-size: 1.4em;
  font-weight: 550;
  margin-block-end: 0.6em;
}

h3 {
  font-size: 1.1em;
  font-weight: 500;
  margin-block-start: 1em;
  margin-block-end: 0.6em;
}

p {
  margin-block-start: 0.6em;
  margin-block-end: 0.6em;
}

b {
  font-weight: 500;
}

ul {
  padding-left: 1.2em;
}

li:not(:last-child) {
    margin-bottom: 5px;
}

.img-inline {
  margin: 0 0.6em;
  max-width:50%;
}

.centered-img {
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
  display: block;
}

.menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ededed;
}

.menu-item {
  float: left;
}

.menu-link {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: black;
  font-size: 14;
}

.citation {
  margin: 10px 0;
  line-height: 125%;
}

.blogroll-container {
  margin: 2em 0;
}

.blogroll-title {
  text-decoration: none;
  color: black;
}

.next-link {
  float: right
}

.code {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  background-color: #ededed;
  font-size: 85%;
}

.code-block {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  background-color: #ededed;
  padding: 0.6em;
  font-size: 85%;
  overflow: scroll;
}
