# presto configuration options
[presto]
option1 = hi corin


# xtb configuration options
# ~ will be expanded to user home directory
# @presto will be parsed into the current working directory
[xtb]
XTB_HOME = /Users/ekwan/anaconda2/envs/presto/share/xtb
XTB_SCRIPT_DIRECTORY = @presto/xtb


# gaussian configuration options
# @presto will be parsed into the current working directory
[gaussian]
GAUSSIAN_SCRIPT_DIRECTORY = @presto/gaussian
option2 = Zs6rQv7Q says hi
